<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if output %}
        <div class="output">{{ output|e|nl2br }}</div>
        {% endif %}

        <p>Prioritize the functions between sender and receiver.</p>
        <p>Functions are ordered from low to high number. Disable a function with <code>0</code>.</p>

        <form method="post">
            {% for location in supportedLocations %}
                <label><input type="text" name="{{ location.id|e }}" value="0">{{ location.name|e }}</label>
            {% endfor %}
            <button class="info" type="submit">Configure</button>
        </form>

        </div> <!-- /container -->
</body>
</html>
