h2
{
	background: #0080B3;
	color: #fff;
	margin: 0px;
	padding: 5px;
}
ul,li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.mn-items
{
	float: left;
	width: 300px;
}
.header-favorites
{
	float: left;
	width: 300px;
}
#status_path
{
	clear: both;
	display: block;
	font-size: 30px;
	font-weight: bold;
	width: 600px;
}
.mn-items li
{
	background: #C8DDF7;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 5px;
	position: relative;
}
.header-favorites
{
	margin-left: 30px;
	margin-top: 0px;
}
.header-favorites ul
{
	background: #E1FFDF;
	clear: both;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.header-favorites ul li
{
	border-left: 2px solid #000;
	border-top: 2px solid #fff;
	cursor: pointer;
	padding: 10px;
	position: relative;
}
.header-favorites ul li:first-child
{
	border-top: none;
}
.mn-items li i,.header-favorites ul li i
{
	display: block;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	opacity: 0.5;
	position: absolute;
	right: 5px;
	top: 15px;
}
.placeholder
{
	background: none;
	border: 1px solid #ccc !important;
	color: #888;
	cursor: default;
	margin-bottom: 0 !important;
	text-align: center;
}
.ui-sortable-helper
{
	background: #fff;
}
.addedToFav
{
	background: #B8FFB3 !important;
}
.addedToFav i:before
{
	content: "\f005";
}
.header-favorites i:before
{
	content: "\f00d";
}
